{%extends "base.html"%}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <h2 class="text-center mt-5">Contact</h2>
<div className="heading-wrapper mt-5">
    <div className="heading">
        <p className="title">
            Would like to contact me?
        </p>

        <p className="subtitle">
            Kindly, use the form below or send an email to <a href="mailto: kibiezekiel@gmail.com"
                target="_blank">kibiezekiel@gmail.com</a>
            :
        </p>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {% bootstrap_form form%}
        <input onclick="myFunction()" type="submit" class="btn btn-dark " value="Submit">
    </form>
</div>
<div class="btn-success" id="snackbar"  >Your message has been sent seccessifully. Thank you for contacting me!</div>

</div>


<script>
    function myFunction() {
      var x = document.getElementById("snackbar");
      x.className = "show";
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
</script>

<style>

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.1s, fadeout 5s 5s;
  animation: fadein 0.1s, fadeout 5s 5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>
{% endblock %}
