<footer>
    <div class="container text-center contact">
        <div>
            <div class="row">
                <div class="col">
                    <a href="https://github.com/ezekielkibiego" class="fa fa-github icon" target="_blank"></a>
                    <a href="tel:+254722991833" class="fa fa-phone icon" target="_blank"></a>
                    <a href="mailto: kibiezekiel@gmail.com" class="fa fa-envelope icon" target="_blank"></a>
                    <a href="https://twitter.com/KibiegoEzekiel" class="fa fa-twitter icon" target="_blank"></a>
                    <a href="https://www.facebook.com/kibiego.ezekiel.9" class="fa fa-facebook icon" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>
    </div><br>
    <div class="container text-center b-text">
    <p>&copy; 2022 | <i>Ezekiel Kibiego</i></p>
</footer>