{%extends "base.html"%}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <h2 class="text-center mt-5 mb-5" id="portfolio" >My Projects</h2>

   

    <p>
        Below is a list of <b>some</b> of the hands-on projects I've been working on in the last 6 months. All of
        these
        were built during my 6 months nonstop coding, where I completed all the projects required to get my
        Full-Stack
        Developer certification from
        <a href="https://moringaschool.com/" target="_blank" rel="noopener noreferrer">
            Moringa School.
        </a>

        View all my projects <a href="https://github.com/ezekielkibiego?tab=repositories" target="_blank"
            rel="noopener noreferrer">here</a>.

    </p>

    <div class="row">
        {% for pros in projects %}
        <div class="col-md-4 card">

            <div class="card-group">
                <div class="">
                    <h3 class="card-title text-center"> {{pros.title}}</h3>
                    <a href="{{ pros.link }}" target="_blank" rel="noopener noreferrer">
                        <img src="{{ pros.image.url }}" class="card-img-top resp" alt="Personal">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"> <i>Built using; {{pros.technologies}}</i></h5>
                        <p class="card-text">{{pros.description}}</p>


                    </div>
                    <div class="row card-footer">
                        <div class="col-md-6">
                            <a href="{{pros.url}}" class="btn btn-outline-dark bg-dark text-white rounded-pill">View
                                Repository</a>
                        </div>


                        <div class="card-footer">
                            <small class="text-muted"> {{pros.date|date}}</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        {% endfor %}
       
    </div>
    

{% endblock %}