{%extends "base.html"%}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <h2 class="text-center mt-5 mb-5" id="portfolio" >My Projects</h2>

   

    <p>
        Below is a list of <b>some</b> of the hands-on projects I've been working on in the last 6 months. All of
        these
        were built during my 6 months nonstop coding, where I completed all the projects required to get my
        Full-Stack
        Developer certification from
        <a href="https://moringaschool.com/" target="_blank" rel="noopener noreferrer">
            Moringa School.
        </a>

        View all my projects <a href="https://github.com/ezekielkibiego?tab=repositories" target="_blank"
            rel="noopener noreferrer">here</a>.

    </p>


        <div class="row">
            {% for repo in repos %}
                <div class="col-md-5 m-3 card">
                    <h3>{{ repo.name }}</h3>
                    <p>{{ repo.description }}</p>
                    <a href="{{ repo.html_url }}">View Repo</a>
                </div>
            {% endfor %} 
        </div>
    </div>
    

{% endblock %}